
/*
  font-family: 'HKGrotesk-regular';
    font-family: 'HKGrotesk-SemiBold';

*/
@font-face{
  font-family: 'HKGrotesk-regular';
  src: url(../font/HKGrotesk-Regular.ttf);
}

@font-face{
  font-family: 'HKGrotesk-Medium';
  src: url(../font/HKGrotesk-Medium.ttf);
}

@font-face{
  font-family: 'HKGrotesk-SemiBold';
  src: url(../font/HKGrotesk-SemiBold.ttf);
}


body{
    font-size: 14px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'hk-grotesk';
  color: #000;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
    
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}


/* Add some padding inside the card container */
.container{
	background:#fff;	
}















/* --- Popular Post 1 ---- */
.ppo{
  display: flex;
}
.wrapper{
  width: 370px;
  height: 411px;  
  background: #fff;
  margin-right: 20px;

}

.wrapper-text{
  text-align: center;
}

.item-2 h3{
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 12px;
color: #e02020;
text-transform: uppercase;

}

.item-2 span{
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 12px;
line-height: 14px;
color:  #B1B1B1;

}

.item-2 span a{
  color: #666;

}

.item-2 p{
width: 285px;
height: 56px;
font-family: 'HKGrotesk-Medium';
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #171717;
margin-top: -5px;
margin-bottom: 0;
margin-left: 43px;
}