
/*
font-family: 'Merriweather', serif;
font-family: 'Lora', serif;



*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Merriweather:ital@0;1&display=swap');

body{
    font-size: 14px;
    background-color: #fff;
    overflow-x: hidden;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'hk-grotesk';
  color: #000;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
    
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}


/* Add some padding inside the card container */
.container{
	background:#fff;	
}















/* --- Popular Post 1 ---- */
.ppo{
  display: flex;
}
.wrapper{
  width: 770px;
  height: 604px;
     
  background: #fff;
  margin-right: 20px;

}

.wrapper-text{
  text-align: left;
}

.item-1 .wrapper-text{
  margin: 15px 0;
}

.item-1 h3{
  font-family: 'Merriweather', serif;
  font-weight: 400;
font-size: 14px;
text-align: center;
color: #171717;
display: inline-block;
margin: 0;
margin-bottom: -5px;

}

.item-1 .tag-list a{
  color: #a7a7a7;
}
.item-1 h2{
font-family: 'HKGrotesk-Medium';
font-weight: normal;
font-size: 30px;
color: #171717;
margin: 0;
margin-bottom: 5px;

}


.item-1 p{
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 16px;
color: #4a90e2;
display: inline-block;
}



.item-1 span a{
  color: #171717;

}




.item-3 p{
height: 72px;
font-family: 'Merriweather', serif;
font-weight: normal;
font-style: italic;
font-size: 14px;
line-height: 24px;
color: #666;
margin: 5px 0;

}

.item-3 span{
  font-family: 'Merriweather', serif;
  font-weight: 400;
font-size: 14px;
text-align: left;
color: #999;

}
.item-3 span a{
font-family: 'HKGrotesk-Medium';
font-weight: normal;
font-size: 16px;
line-height: 15px;
text-align: left;
color: #d0021b;

}

.item-3 span a:hover{
  text-decoration: underline;
}
.item-3 h2{
font-family: 'Lora', serif;
font-weight: normal;
font-size: 23px;
line-height: 20px;
text-align: left;
color: #171717;

}
/* Button customize*/

button{
  width: 80px;
  height: 30px;
  background: transparent;
  border: none;
  border-right: 1px solid #d8d8d8;
  
  


}
button a{
  font-family: 'HKGrotesk-regular';
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #666;

  }