

body{
    font-size: 14px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
}



a:hover{
  text-decoration: none;
  color: #fff;
    
}



/* Add some padding inside the card container */
.slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 5rem auto;
  max-width: 1280px;
  width: 100%;
}


.rigs-slide{
  margin: 5rem auto;

  background: url(../img/Destin23.png);
  background-position: center;
  background-size: cover;
  height: 580px;
  width: 100%;
  max-width: 1100px;
  position: relative;

}

.item-2{
  margin: 5rem auto;

  background: url(../img/Destin23.png);
  background-position: center;
  background-size: cover;
  height: 580px;
  width: 100%;
  max-width: 1100px;
  position: relative;

}

.item-3{
  margin: 5rem auto;

  background: url(../img/Destin23.png);
  background-position: center;
  background-size: cover;
  height: 580px;
  width: 100%;
  max-width: 1100px;
  position: relative;

}

.item-4{
  margin: 5rem auto;

  background: url(../img/Destin23.png);
  background-position: center;
  background-size: cover;
  height: 580px;
  width: 100%;
  max-width: 1100px;
  position: relative;

}
.item-5{
  margin: 5rem auto;

  background: url(../img/Destin23.png);
  background-position: center;
  background-size: cover;
  height: 580px;
  width: 100%;
  max-width: 1100px;
  position: relative;

}
.item-6{
  margin: 5rem auto;

  background: url(../img/Destin23.png);
  background-position: center;
  background-size: cover;
  height: 580px;
  width: 100%;
  max-width: 1100px;
  position: relative;

}

.rigs-wrapper{
  position: absolute;
  top: 29%;
  left: 32%;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0.6) 0%);
  padding-top: 14px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
  text-align: center;
}


.rigs-slider-text h4{
font-family: Poppins;
font-weight: 500;
font-size: 24px;
line-height: 26px;
color: #1e456b;


}

.rigs-wrapper .btn{
  background: #1E456B;
  padding: 5px 30px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.rigs-wrapper .btn a{
color: #fff;
font-size: 14px;
font-weight: 500;
text-transform: uppercase;
line-height: 1.6em;
text-decoration: none;

}




.slick-initialized .slick-slide {
  display: block;
  margin: 50px;
}




.slick-slide:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  transition: transform .4s;
}

.item.slick-slide {
  transform: scale(0.7)  translate(640px);
}

.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.8) translate(-250px);
  z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.7)  translate(-640px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
  /* margin: 0 -10%; */
  transform: scale(1);
  z-index: 30;
}

.slick-center:after {
  opacity: 0;
}





/*Styling the default Slick dots*/

.slick-dots {
	display: flex;
	justify-content: center;
	
	margin: 0;
	padding: 1rem 0;

  list-style-type: none;
}
	
		li {
      margin: 0 0.25rem;
      background-color: #8EAEC1;
      border-radius: 100%;


		}
	
		li.slick-active button {
			background-color: #1E456B;
		}
	


    .slick-dots li {

      width: 15px;
      height: 15px;
      }

      .slick-dots li button {

        width: 15px;
        height: 15px; 
  			display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        
        border: none;
        border-radius: 100%;
        
        text-indent: -9999px;
		}
	
        
