

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 50px;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: #f7931e;
}

.card{
    border-radius: 32px;
}

.card-body{
    padding-left: 45px;
    padding-top: 80px;
}

.card-title{

font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 32px;
line-height: 48px;
text-align: left;
color: #000;

}

.card-text{
font-family: "Open Sans";
font-weight: normal;
font-size: 16px;
line-height: 30px;
text-align: left;
color: #8d8d8d;

}





.btn{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #f7931e;
    padding: 15px 150px;
    border-radius: 27.5px;
    background: #fff;
    border: 1px solid #f7931e;
    margin-top: 10px;
    
    }
    .btn-bg-fill{
    background: #f7931e;
    color: #fff;
    }
    .btn-bg-fill:hover{
        background: #fff;
        color: #f7931e;
        border: 1px solid #f7931e;
    
        }

    
    

    
       
        .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        background: #f7931e;
        border: 1px solid #f7931e;
        color: #fff;
        outline: none;
    
        }




/*--------------------------------------------------------------
    # Responsive 
--------------------------------------------------------------*/


@media (max-width: 1280px){
    .card-body {
    }
    
}
@media (max-width: 991px){

    .card-body {
        padding: 50px 20px 50px 30px;
    }
  

}
@media only screen and (max-width: 589px) {
    .btn {

        font-size: 12px;
        letter-spacing: 2px;
        padding: 10px 70px;
     
    }

  }
  
  @media only screen and (max-width: 479px){
   
    .card-body{
        padding-left: 25px;
        padding-top: 45px;
        text-align: center;

    }
    .card-title {
        font-size: 18px;
        line-height: 30px;
        text-align: center;

     
    }

    .card-text {
        font-size: 14px;
        text-align: center;


       
    }
    

.btn-bg-fill {
    background: #f7931e;
    color: #fff;
}
.btn {

    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px 40px;
 
}

  }


 
  
