@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/*
font-family: 'Roboto', sans-serif;

*/
body {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

a{
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus, button:focus {
  outline: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}







.swiper-container {
  width: 1117px;
 }
 

.testimonial {
display: flex;
flex-direction: row;
width: 1110px;
height: 400px;
background: linear-gradient(#eaf3ff 0%, rgba(255, 255, 255, 0) 100%);
justify-content: space-between;


}


.author-desc {
  padding: 4rem 14rem 0 4rem;
}



.author-desc p {
  font-family: Rubik;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #373742;
}

.author-name {
  font-family: Rubik;
  font-weight: normal;
  font-size: 22px;
  text-align: left;
  color: #5866c3;
}

.author-company {
  font-family: Rubik;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  color: #7b7b88;
}





.PrevA {
  position: absolute;
  left: 13%;
  cursor: pointer;
  z-index: 1;
}


.NextA {
  position: absolute;
  right: 13%;
  cursor: pointer;
  z-index: 1;
}


.author-img > img:nth-child(1) {
  padding-top: 5.6rem;
 }
 





/* Responsive css*/


@media (max-width: 1200px){

}

@media (max-width: 992px) {
  .container{
    max-width: 500px;
  }
  .testimonial {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
}

@media (max-width: 768px) {
 
}


@media (min-width: 428px){


}

@media (max-width: 428px){
  

  
}

