@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/*
font-family: 'Roboto', sans-serif;

*/
body {
  background: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

a{
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus, button:focus {
  outline: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}







.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f5f7fa;
    max-width: 920px;
  height: auto;

}


.testimonial {
display: flex;
flex-direction: row;
}

.testimonial-body {
 
}

.testimonial-body p {
 
}
.testimonial-body::before{
  
}


.testimonial-img {
max-width: 400px;
height: 100%;
position: relative;
}

.testimonial h3 {
  font-family: Rubik-Medium;
  font-weight: normal;
  font-size: 24px;
  text-align: left;
  color: #373742;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 10px;
}

.testimonial h4 {
  font-family: Rubik-Regular;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color: #838383;
  margin: 0;
}






.testimonial{
  margin-top: 50px;
  margin-bottom: 50px;
}



div.testimonial:nth-child(1) > div:nth-child(2){
  padding: 0px 0 0 120px;
}

div.testimonial-body:nth-child(1) {
  padding-right: 120px;
}
div.testimonial:nth-child(3) > div:nth-child(2) {
  padding-left: 120px;
}


.testimonial-body p {
  font-family: PTSerif-Regular;
  font-weight: normal;
  font-size: 30px;
  line-height: 48px;
  text-align: left;
  color: #373742;
  margin: 0;
}












/* Responsive css*/


@media (max-width: 1200px){

}

@media (max-width: 992px) {
  .container{
    max-width: 500px;
  }
  .testimonial {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  div.testimonial:nth-child(1) > div:nth-child(2) {
    padding: 0;
}

div.testimonial-body:nth-child(1) {
  padding: 0;
}

div.testimonial:nth-child(3) > div:nth-child(2) {
  padding: 0;
}
  .testimonial-body p{
    text-align: center;
    font-size: 25px;
  }

  .testimonial-body h3{
    text-align: center;
  }

  .testimonial-body h4{
    text-align: center;
  }



  .testimonial.column-reverse {
    flex-direction: column-reverse;
}

.testimonial-img{
  margin-bottom: 20px;
}
  
}

@media (max-width: 768px) {
 
}


@media (min-width: 428px){


}

@media (max-width: 428px){
  

  
}

