
/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Merriweather', serif;



*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Merriweather:ital@0;1&display=swap');

body{
    font-size: 14px;
    background-color: #fff;
    overflow-x: hidden;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'hk-grotesk';
  color: #000;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
    
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}


/* Add some padding inside the card container */
.container{
	background:#fff;	
}















/* --- Popular Post 1 ---- */
.ppo{
  display: flex;
}
.wrapper{
  width: 770px;
  height: 604px;
     
  background: #fff;
  margin-right: 20px;

}

.wrapper-text{
  text-align: left;
}

.item-1 .wrapper-text{
  margin: 15px 0;
}




.item-2 h2{
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  font-size: 23px;
  line-height: 25px;
  text-align: left;
  color: #171717;
  
text-transform: uppercase;

}









.item-2 span{
  width: 344px;
  height: 45px;
font-family: 'Merriweather', serif;
font-weight: 400;
font-size: 14px;
background: #000;
color: #999999;
display: block;
position: relative;
margin-top: -29px;
margin-left: 192px;
text-align: center;
padding-top: 5px;

}
.item-2 span a{
color: #fff;
font-family: 'Merriweather', serif;
font-weight: 400;
font-size: 13px;

}


.item-2 p{
  height: 72px;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  margin: 5px 0;
  
  }
/* Button customize*/

button{
  width: 190px;
  height: 50px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid #e5e5e5;
  margin-top: 25px;
  
  
  


}
button a{
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #666;
  

  }