
/*
  font-family: 'HKGrotesk-regular';
    font-family: 'HKGrotesk-SemiBold';

*/
@font-face{
  font-family: 'HKGrotesk-regular';
  src: url(../font/HKGrotesk-Regular.ttf);
}

@font-face{
  font-family: 'HKGrotesk-SemiBold';
  src: url(../font/HKGrotesk-SemiBold.ttf);
}


body{
    font-size: 14px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'hk-grotesk';
  color: #000;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
    
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}


/* Add some padding inside the card container */
.container{
	background:#fff;	
}















/* --- Popular Post 1 ---- */
.ppo{
  display: flex;
}
.wrapper{
  width: 170px;
  height: 210.8px;  
  background: #fff;
  margin-right: 20px;

}

.item-1{
  margin-bottom: -10px;
}

.item-2 h3{
font-family: 'HKGrotesk-SemiBold';
font-weight: normal;
font-size: 14px;
text-align: left;
color: #171717;
margin-bottom: 5px;
margin-top: 22px;


}

.item-2 span{
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 13px;
line-height: 14px;
text-align: left;
color: #666;


}

.item-2 span a{
  color: #d0021b;

}

.item-2 p{
width: 237px;
height: 72px;
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: left;
color: #666;

  
}