

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: #f7931e;
}


.card{
    border: none;

}
.card-img-top{
    border-radius: 0!important;
}
.card-body{
border-radius: 30px 0px;
background: #fff;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
margin-top: -40px;

}

.card-title{
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 20px;
text-align: left;
color: #000;

}

.card-text{
font-family: "Open Sans";
font-weight: 300;
font-size: 14px;
line-height: 26px;
text-align: left;
color: #bcbcbc;

}


.card-link{
font-family: 'Poppins', sans-serif;
font-size: 16px;
text-align: left;
color: #f7931e;

}








/*--------------------------------------------------------------
    # Responsive 
--------------------------------------------------------------*/


@media (max-width: 1280px){
    .card-body {
        margin-top: -25px;
    }
    
}
@media (max-width: 991px){

    .card {
        margin-bottom: 25px;
    }
  

}
@media only screen and (max-width: 767px) {
    
.card{
    width: 310px;
}
  }
  
  @media only screen and (max-width: 479px){
   

    
  }
  
