@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/*
font-family: 'Roboto', sans-serif;

*/
body{
    font-size: 14px;
    background-color: #F1F2F5;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
}


a{
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}















.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.team-box{
  width: 1200px;
  height: 600px;
  background: #fff;
  display: flex;
  flex-direction: row;



}
.single-team-box{
width: 390px;
height: 480px;
display: block;
text-align: center;
margin-top: 80px;
}

.single-team-box .team-desc{
  padding: 0 45px;
}


.single-team-box .team-desc .author-name{
font-weight: normal;
font-size: 20px;
text-align: center;
color: #373742;
margin-bottom: 0;
}


.single-team-box .team-desc .authors-company{
font-weight: 300;
font-size: 16px;
text-align: center;
color: #7b7b88;
margin: 0;
}




.single-team-box .team-desc .authors-comment{
  font-size: 20px;
  font-weight: 300;
}






.link-bg {
  width: 1200px;
  height: 88px;
  border-radius: 0px 0px 10px 10px;
  background: #f5f6ff;
  position: relative;
}

.link-bg .link-text{
position: absolute;
height: 27.81px;
top: 33%;
left: 40%;
font-weight: normal;
font-size: 22px;
text-align: center;
color: #5866c3;

}









/* Responsive css*/


@media (max-width: 1280px){
  .team-box{
    width: 980px;
    height: 600px;
    flex-direction: row;
    }


    .link-bg {
      width: 1200px;
      height: 88px;

    }
}

@media (max-width: 992px) {
  .team-box{
    width: 755px;
    height: 600px;
    flex-direction: row;
    }
   
 
    .single-team-box {
      width: 390px;
      height: auto;
      margin-bottom: 30px;
      }
    img {
      max-width: 120px;
      height: auto;
  }
    .single-team-box .team-desc .author-name {
      font-size: 18px;
      
      }
    .single-team-box .team-desc .authors-company {
      font-size: 14px;
      
      }
    .single-team-box .team-desc .authors-comment {
      font-size: 16px;
      font-weight: 300;
  }
  .single-team-box .team-desc {
    padding: 0 30px;
}
    .link-bg {
      width: 755px;
    }
    .link-bg .link-text {
      left: 34%;
      }
    
}

@media (max-width: 768px) {
  .team-box{
    width: 755px;
    height: auto;
    flex-direction: column;
    }

    .single-team-box{
      margin-top: 50px;
      margin-left: 11rem;

    }

    .single-team-box .team-desc .authors-comment {
      font-size: 16px;
      font-weight: 300;
  }
  .single-team-box .team-desc {
    padding: 0 30px;
}

    .link-bg {
      width: 755px;
      height: 88px;
    }

      


}

@media (max-width: 580px){



  .link-bg .link-text {
    left: 20%;
}
}


@media (min-width: 428px){
  .team-box {
    height: auto;

}


}

@media (max-width: 428px){
  .team-box {
    height: auto;

}



.link-bg .link-text {
  left: 10%;

}
  
}

