@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/*
font-family: 'Roboto', sans-serif;

*/
body {
  background: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

a{
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus, button:focus {
  outline: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}







.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f5f7fa;
    max-width: 1117px;
  height: auto;

}


.testimonial {
display: flex;
flex-direction: row;
}

.testimonial-left{
  background: #6488E2;
  padding: 4rem 0 8rem 2rem;
  width: 547px;
  height: 100%;
  border-radius: 16px 0px 0px 16px;
  background: linear-gradient(#6488e2 0%, #759bfa 100%);

}
.testimonial h3 {

  font-family: Rubik;
  font-weight: normal;
  font-size: 40px;
  text-align: left;
  color: #fff;
}



.testimonial-left p {
  font-family: Rubik;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  text-align: left;
  color: #d8e3ff;
  padding-right: 10rem;
}


.testimonial-left .quote {
  width: 70px;
  height: 62px;
}




.testimonial-right{
  background: #ffffff;
  padding: 4rem 0 8rem 2rem;
  width: 547px;
  height: 336px;
  border-radius:  0px 16px 16px 0px  ;
}
.title-section{
  display: flex;
  height: 80px;
  max-width: 100%;
}
.authors-desc {
  padding-top: 1rem;
  padding-left: 2rem;
 }
 
.authors-desc h3{
  font-family: Rubik;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  color: #4f5965;
  margin: 0;
  
}

.authors-desc h4{
  font-family: Rubik;
font-weight: normal;
font-size: 18px;
text-align: left;
color: #969595;
margin: 0;
margin-top: 5px;

}
 
.content-section {
  font-family: Rubik;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  color: #737373;
  padding-right: 5rem;
  }
  .footer-section {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
   }
   .right-img{
    padding-right: 5rem;
    padding-top: 10px;
   }
   .right-img .PrevA{
    padding-right: 40px;

   }   

   .right-img img{
     cursor: pointer;
   }

.testimonial-body {
 
}

.testimonial-body p {
 
}
.testimonial-body::before{
  
}


.testimonial-img {

}

.testimonial h3 {

}

.testimonial h4 {

}






.testimonial{

}











/* Responsive css*/


@media (max-width: 1200px){

}

@media (max-width: 992px) {
  .container{
    max-width: 500px;
  }
  .testimonial {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
}

@media (max-width: 768px) {
 
}


@media (min-width: 428px){


}

@media (max-width: 428px){
  

  
}






















